#responsiv
    .box
        .minibox
            width: 100px
            height: 100px
            // background-color: #f5d12f
            border: 1px solid #515703
            transition: 2s
            display: inline-block
            &:hover
                width: 200px
                height: 200px
                // background-color: #a4f808
                border: 5px solid #f5d12f
                border-radius: 50%
                transform: rotate(360deg)
                opacity: 0.4
                h1
                    text-align: center
                    transform: translate(0px, 50px)












